<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Home</title>
    <link rel="shortcut icon" href="favicon.png">

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/Content/data/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/Content/data/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>

    <nav class=" indigo darken-4" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="principal.html" class="brand-logo">Auto Safe <i class="material-icons">directions_car</i></a>

            <ul class="right hide-on-med-and-down">
                <li><a href="@Url.Action("Index","Chamado")"> <i class="material-icons"> assignment </i> Chamados</a></li>
                <li><a href="@Url.Action("Index","Sla")"><i class="material-icons">person-pin</i>Cadastrar SLA</a></li>
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown1">
                        Relatórios<i class="material-icons right">
                            assessment
                        </i>
                    </a>
                </li>
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="@Url.Action("OpiniaoOficina","Report")">Relatório de Opinião das Oficinas</a></li>
                    <li><a href="@Url.Action("SlaChamados","Report")">Relatório de Chamados x SLA </a></li>
                    <li><a href="@Url.Action("TempoChamado","Report")">Relatório de Tenpo de Chamado</a></li>
                </ul>

            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

        </div>
    </nav>

    <br><br>

    <div class="panel-body">
        <blockquote>
            Relatório de Tempo de Chamado .
        </blockquote>
        <div class="row">
            <form class="col s12">
                <div class="row col s6">
                    <label>Data Início</label>
                    <input type="date" class="datepicker">
                </div>
                <div class="row col s6">
                    <label>Data Fim</label>
                    <input type="date" class="datepicker">

                </div>
                <div class="row col s6">
                    <label>Status </label>
                    <select class="browser-default">
                        <option value="" disabled selected>Selecione</option>
                        <option value="1">Todos</option>
                        <option value="2">Aberto</option>
                        <option value="3">Em Análise</option>
                        <option value="4">Em Manutenção</option>
                        <option value="5">Finalizado</option>
                        <option value="6">Cancelado</option>

                    </select>
                </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">
            Gerar Relatório
            <i class="material-icons">insert_chart</i>


        </button>
        </form>
    </div>


    <footer class="page-footer indigo darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Auto Safe</h5>
                    <p class="grey-text text-lighten-4">Serviço de Integração de Seguradora.</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Configurações</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Sair</a></li>
                        <li><a class="white-text" href="#!">Alterar Senha</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Contato</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Fale Conosco</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 <a class="blue-text text-lighten-3" href="#!"> Auto Safe </a> - Todos os direitos reservados.
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/Content/data/js/materialize.js"></script>
    <script src="/Content/data/js/init.js"></script>

</body>
</html>
